//! **************************************************************************
// Written by: Map I.31 on Fri Aug 06 08:57:45 2010
//! **************************************************************************

SCHEMATIC START;
COMP "led<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "led<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "led<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "led<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "led<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "led<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "led<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "led<7>" LOCATE = SITE "F9" LEVEL 1;
COMP "btn" LOCATE = SITE "H13" LEVEL 1;
COMP "rx" LOCATE = SITE "R7" LEVEL 1;
COMP "tx" LOCATE = SITE "M14" LEVEL 1;
COMP "reset" LOCATE = SITE "V4" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;
