//! **************************************************************************
// Written by: Map I.31 on Wed Aug 11 22:39:41 2010
//! **************************************************************************

SCHEMATIC START;
COMP "btn<0>" LOCATE = SITE "K17" LEVEL 1;
COMP "btn<1>" LOCATE = SITE "D18" LEVEL 1;
COMP "hsync" LOCATE = SITE "F15" LEVEL 1;
COMP "reset" LOCATE = SITE "V4" LEVEL 1;
COMP "rgb<0>" LOCATE = SITE "H14" LEVEL 1;
COMP "rgb<1>" LOCATE = SITE "H15" LEVEL 1;
COMP "rgb<2>" LOCATE = SITE "G15" LEVEL 1;
COMP "vsync" LOCATE = SITE "F14" LEVEL 1;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;
